/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text-font-main);
  font-size: 18px;
  color: var(--text-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  margin-block: 100px;
}

.content-wrapper {
  min-inline-size: 320px;
  max-inline-size: 700px;
  margin: 0 auto;
  background-color: var(--background-color);
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--button-text-color);
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--text-font-accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 0.9;
  mix-blend-mode: difference;
}

/* ------HEADER----------------------------------------------------------------------------- */

.content-wrapper__header {
  font-family: var(--text-font-accent);
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  background-color: var(--background-color);
}

.header__title-block {
  text-align: center;
}

.header__logo {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.theme-menu {
  margin-block: 21px 25px;
  margin-inline-start: clamp(9.625rem, -1.9862rem + 49.5409vw, 19.688rem);

}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__button {
  text-transform: uppercase;
  position: relative;
  transition: opacity 0.3s ease;
  line-height: 1;
  font-size: 14px;
  border: none;
}

/* ------MAIN----------------------------------------------------------------------------- */

.main {
  margin-block-start: 100px;
}

.list__item:not(:last-child) {
  margin-block-end: 50px;
}
.article {
  border: 2px solid var(--accent-color);
}

.article:last-child {
  margin-block-end: 50px;
}

.article__title {
  font-size: 18px;
  line-height: 1.21;
  font-weight: var(--font-weight-bold);
  padding-inline: 10px;
  padding-block: 4.5px;
}

/* -----------PICTURE-BLOCK------------------------------------------------------------------------------ */

.article__picture {
  border-block: 2px solid var(--accent-color);
  position: relative;
}
.picture__label {
  position: absolute;
  z-index: 1;
  inset-block-start: clamp(1.375rem, 1.3088rem + 0.2824vw, 1.563rem);
  inset-inline-end: clamp(0.688rem, 0.3799rem + 1.3146vw, 1.563rem);
  font-family: var(--text-font-accent);
  mix-blend-mode: hard-light;
  line-height: 1;
  font-size: 14px;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.5), 0 1px rgba(255, 255, 255, 0.5),
    1px 0 rgba(255, 255, 255, 0.5), 0 -1px rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}

@supports ((text-stroke: 1px rgba(255, 255, 255, .5)) or (-webkit-text-stroke: 1px rgba(255, 255, 255, .5);
)) {
  .picture__label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

.img_grayscale {
  filter: grayscale(72%);
}

.img_saturate {
  filter: saturate(400%);
}

.img_hue-rotate {
  filter: hue-rotate(30deg);
}

.img_invert {
  filter: invert(84%);
}

.img_sepia {
  filter: sepia(1.7);
}

.img_blur {
  filter: blur(20px);
}

.img_mult-filter {
  filter: saturate(200%) hue-rotate(114deg) grayscale(6%) contrast(51%);
}

.article__content {
  margin-block: 25px;
  padding-inline: 25px;
}

.article__content-description {
  margin-block-end: 25px;
}
.description__text {
  line-height: 1.16;
  font-weight: var(--font-weight-regular);
}

.description__text:not(:last-child) {
  margin-block-end: 27.25px;
}

/* -----------BUTTONS__BLOCK------------------------------------------------------------------------------ */
.article__content-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
}

/* -----------BUTTON__HEART------------------------------------------------------------------------------ */

.card__icon-button {
  border: 2px solid transparent;
  max-block-size: 38.5px;
}

/* -----------BUTTON__LIKE------------------------------------------------------------------------------ */

.article__like-button {
  max-inline-size: 130px;
}

.article__like-button-text {
  padding: 12px 37px 10px;
}

/* ------section__save-button----------------------------------------------------------------------------- */

.section__save-button {
  margin: 0 auto;
  background-color: var(--background-color);
  inline-size: clamp(19.063rem, 18.381rem + 2.91vw, 21rem);
}

.save-button__button {
  inline-size: 100%;
  padding: 15px 18.5px;
  gap: 8px;
  flex-wrap: wrap;
}

.save-button__button-svg {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.save-button__button-text {
  white-space: nowrap;
}

@media (width >= 1440px) {
  .save-button__button {
    flex-wrap: nowrap;
  }
  .save-button__button-svg {
    width: 21px;
    height: 21px;
  }
}

/* ------SAVE-BUTTON-DIALOG----------------------------------------------------------------------------- */

.save-button__dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  inline-size: clamp(21.438rem, 21.2179rem + 0.939vw, 22.063rem);
  padding: 30px 37px;
  position: fixed;
  inset: 0;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  color: var(--text-color);
}

.save-button__dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.save-button__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.save-button__dialog svg {
  flex: 1 0 39px;
}

.dialog__title {
  font-family: var(--text-font-accent);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  inline-size: 100%;
  padding-block: 12.5px;
}

@media (width >= 1440px) {
  .footer__dialog {
    padding: 30px;
  }
}
